//单行注释：编译时不会出现在css文件中

/*
	多行注释：编译时会出现在css文件中

	sass兼容css写法
 */

//全局变量
$mainColor:#ccc;
$fontSize:16px !default;

a{
	//局部变量
	$fontSize:14px;

	// 在局部创建全局变量
	$pd:10px !global;

	color:#333;
	//background-color:$mainColor;
	font-size:$fontSize;
}

body{
	//font-size:$fontSize;外部不能使用局部变量
	padding:$pd;
}