@charset "UTF-8";
.content, h1 { color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.box, .mybox, .content { width: 100px; height: 100px; }

.mybox, .content { width: 200px; font-size: 16px; }

h1 { width: 50%; }

.box1 { background-color: #ff8533; }

.box2 { background-color: #ffa366; }

.box3 { background-color: #ffc299; }

/* @for $var from <start> through <end>（包含end值） @for $var from <start> to <end>（不包含en值） */
h1 { font-size: 30 px; }

h2 { font-size: 15 px; }

h3 { font-size: 10 px; }

h4 { font-size: 7.5 px; }

h5 { font-size: 6 px; }

h6 { font-size: 5 px; }
