* { margin: 0; padding: 0; }

ul, li { list-style: none; }

a { text-decoration: none; }

img { display: block; border: 0; }

input { outline: none; }

.clear-fix:after { content: ''; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

.container { width: 1200px; margin: 0 auto; }

.cont { width: 100%; }

.head-bar { height: 35px; background-color: #F0F0F0; }

.head-bar a { font-size: 12px; color: #7e7e7e; }

.head-bar a:hover { color: #C81623; }

.head-bar .cont { line-height: 35px; height: 100%; }

.head-bar .cont .head-bar-left { float: left; }

.head-bar .cont .head-bar-left > li { float: left; margin: 0 6px; position: relative; }

.head-bar .cont .head-bar-center:hover .head-bar-left-box { display: block; }

.head-bar .cont .head-bar-left-box { line-height: 3; padding: 0 24px; border: 1px solid #ccc; background-color: #fff; box-shadow: 0 0 1px 1px #ccc; width: 110px; position: absolute; z-index: 22; display: none; }

.head-bar .cont .head-bar-left-box:before { content: ''; display: block; width: 0; height: 0; border: 10px solid transparent; border-bottom: 10px solid #ccc; position: absolute; top: -20px; left: 14px; }

.head-bar .cont .head-bar-left-box:after { content: ''; display: block; width: 0; height: 0; border: 10px solid transparent; border-bottom: 10px solid #fff; position: absolute; top: -18px; left: 14px; }

.head-bar .cont .head-bar-left-box li { background-color: #fff; }

.head-bar .cont .head-bar-right { float: right; font-size: 12px; color: #7e7e7e; }

.head-bar .cont .head-bar-right li { float: left; margin-left: 30px; }

.head-bar .cont .head-bar-right .shopping_car { color: #C81417; }

.head-bar .cont .head-bar-right .shopping_car .iconfont { font-size: 20px; }

.head-bar .cont .head-bar-right .shopping_car .num { font-size: 14px; font-weight: bold; }

.head_main { height: 172px; }

.head_main .container { position: relative; }

.head_main .container .cont { position: relative; }

.head_main .container .cont .head_main_logo { margin: 30px 0 0 30px; float: left; }

.head_main .container .cont .head_sh { position: absolute; top: 30px; left: 355px; height: 80px; width: 460px; }

.head_main .container .cont .head_sh .head_sh_up { width: 460px; height: 36px; }

.head_main .container .cont .head_sh .head_sh_up ._search { box-sizing: border-box; width: 380px; float: left; height: 36px; border: 1px solid #C81417; border-radius: 3px; border-right: 0; }

.head_main .container .cont .head_sh .head_sh_up ._search .search { margin-left: 10px; width: 100%; height: 100%; border: 0; }

.head_main .container .cont .head_sh .head_sh_up ._btn { float: right; background-color: #C81417; box-sizing: border-box; width: 80px; height: 36px; border-radius: 0 3px 3px 0; }

.head_main .container .cont .head_sh .head_sh_up ._btn .btn { width: 100%; height: 100%; border: 0; background-color: transparent; cursor: pointer; color: #fff; font-size: 18px; }

.head_main .container .cont .head_sh .head_sh_list { padding: 6px 16px; font-size: 12px; }

.head_main .container .cont .head_sh .head_sh_list a:hover { color: #f21717; }

.head_main .container .cont .head_sh .head_sh_list dt { float: left; }

.head_main .container .cont .head_sh .head_sh_list dd { float: left; margin: 0 10px; }

.head_main .container .cont .head_sh .head_sh_list dd a { color: #7e7e7e; }

.head_main .container .head_main_erweima { position: absolute; right: 0; top: 0; }

.head_main .container .head_nav { position: absolute; bottom: 0; left: 0; width: 100%; height: 45px; }

.head_main .container .head_nav .head_select { position: relative; }

.head_main .container .head_nav .head_select .select_tit { width: 210px; background-color: #C81417; height: 44px; border-radius: 10px 10px 0 0; text-align: center; line-height: 44px; color: #fff; font-size: 17px; }

.head_main .container .head_nav .head_select .select_tri { width: 0; height: 0; border: 6px solid transparent; border-top: 6px solid #fff; position: absolute; left: 160px; top: 20px; }

.head_main .container .head_nav .select_cont { display: none; width: 210px; height: 460px; box-sizing: border-box; border: 1px solid transparent; box-shadow: 0 0 12px 2px #ccc; padding: 0 12px; }

.head_main .container .head_nav .select_cont a { font-size: 14px; color: #7e7e7e; }

.head_main .container .head_nav .select_cont span { font-size: 14px; color: #7e7e7e; }

.head_main .container .head_nav .select_cont li { height: 50px; width: 100%; line-height: 50px; }

.head_main .container .head_nav .select_cont li .bcate { display: inline-block; width: 50px; }

.head_main .container .head_nav .select_cont li .bcate a { font-size: 16px; color: #333; }

.head_main .container .head_nav .select_cont li .scate { float: right; height: 50px; }

.head_main .container .head_nav .select_cont li a:hover { color: #f0ad4e; font-weight: bold; text-decoration: underline; }

.head_main .container .head_nav .select_cont li:hover .scate > a, .head_main .container .head_nav .select_cont li:hover .bcate > a { color: #f0ad4e; }

.head_main .container .head_nav .select_cont li:hover > .books { display: block; }

.head_main .container .head_nav .select_cont .select_bar { position: relative; }

.head_main .container .head_nav .select_cont .books { display: none; position: absolute; left: 180px; top: 0; box-sizing: border-box; height: 460px; width: 750px; border: 1px solid #ccc; border-left: 0; border-radius: 0 10px 10px 0; padding: 20px; padding-left: 40px; padding-bottom: 0; }

.head_main .container .head_nav .select_cont .books .books-top { margin-left: 10px; margin-bottom: 10px; }

.head_main .container .head_nav .select_cont .books .books-top > dl { width: 300px; float: right; height: 80px; }

.head_main .container .head_nav .select_cont .books .books-top > dl.clear-left { float: left; }

.head_main .container .head_nav .select_cont .books .books-top > dl a:hover { color: #f0ad4e; font-weight: bold; text-decoration: underline; }

.head_main .container .head_nav .select_cont .books .books-top > dl > dt { height: 40px; line-height: 40px; border-bottom: 1px solid #ccc; }

.head_main .container .head_nav .select_cont .books .books-top > dl > dt a { font-size: 16px; }

.head_main .container .head_nav .select_cont .books .books-top > dl > dd { display: inline-block; margin-top: 0px; height: 40px; line-height: 40px; }

.head_main .container .head_nav .select_cont .books .books-top > dl > dd a { margin: 0 3px; font-size: 14px; line-height: 14px; }

.head_main .container .head_nav .select_cont .books .books-down { margin-top: 20px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; }

.head_main .container .head_nav .select_cont .books .books-down dd { float: left; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }

.head_select .select_tit { float: left; }

.head_select .select_ul { float: left; height: 44px; line-height: 44px; }

.head_select .select_ul li { float: left; }

.head_select .select_ul li a { font-size: 16px; font-weight: bold; margin: 0 20px; color: #333; }

.head_select .select_ul li:first-child a { color: #C81417; }

.head_select .select_ul li:nth-child(2) span { display: inline-block; font-size: 14px; height: 18px; line-height: 18px; padding: 2px; background-color: #C81417; color: #fff; border-radius: 4px; }
